<!DOCTYPE html>
<html>
  <head>
    <title>atommarvel.com</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="flexContainer">
            <div class="atom">
                <div class="atom-ring">
                    <img src="{{ site.baseurl }}/images/spin.png">
                </div>
                <div class="atom-ring">
                    <img src="{{ site.baseurl }}/images/spin.png">
                </div>
            </div>
            <h1> Atom Marvel Raiff </h1>
            <p><a href="https://www.linkedin.com/in/atommarvel" target="_blank" class="link">Software Engineer</a>, <a href="https://www.youtube.com/watch?v=KMRKVeCyoFY" target="_blank" class="link">Dancer</a>, <a href="http://atommarvel.bandcamp.com/" target="_blank" class="link">Musician</a>, <a href="https://facebook.com/atommarvel" target="_blank" class="link">Person</a>.</p>
    </div>
 </body>
</html>


